
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header">{{user_name}}</div> {{! User's name}}
  <div class="card-body">
    <h5 class="card-title">{{character_name}}</h5> {{! Created character's name}}
    <p class="card-text">{{character_background}}: </p>
    <p class="card-text">Race: {{character_race}} </p>
    <p class="card-text">Alignment: {{character_alignment}} </p>
    <p class="card-text">Class: {{character_class}} </p>
    <p class="card-text">Strength: {{str}} </p>
    <p class="card-text">Dexterity: {{dex}} </p>
    <p class="card-text">Charisma: {{chr}} </p>
    <p class="card-text">Consitution: {{cons}} </p>
    <p class="card-text">Intelligence: {{int}} </p>
    <p class="card-text">Wisdom: {{wis}} </p>
  </div>
</div>
<div>
  <button><a href="/create">Create</a></button>
</div>